.app {
  max-width: 350px;
  height: 500px;
  margin: 20px auto;
  padding: 40px;
  background-color: #6c85b9;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.app-header {
  font-size: 50px;
  margin: 20px auto;
  text-align: center;
  color: #051e53;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

input {
  width: 200px;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
  border: 1px solid #051e53;
  border-radius: 8px;
  transition: border-color 0.25s ease;
}

input:focus {
  outline: 2px solid #051e53;
}

button {
  border-radius: 8px;
  border: 1px solid #051e53;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #051e53;
  color: #fff;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition:
    background-color 0.25s ease,
    color 0.25s ease,
    box-shadow 0.25s ease;
}

button:hover,
button:focus {
  background-color: #021235;
  color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid #021235;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px;
  background-color: #6c85b9;
  border-radius: 12px;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 30px;
}

.card-title {
  font-size: 28px;
  font-weight: 700;
  color: #051e53;
}

.card-image {
  width: 100px;
  height: 100px;
}

.card-temp {
  font-size: 26px;
  font-weight: 700;
  color: #800006;
}

.card-descr {
  font-size: 18px;
  font-weight: 500;
  color: #051e53;
}

.card-wind {
  font-size: 18px;
  font-weight: 700;
  color: #051e53;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #051e53;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: flex;
  margin: 0 auto;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
